<% if flash[:success] %>
    <%= flash[:success] %>
<%end%>

<div class="container">
    <div class="row">
       <div cass="col-sm-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <strong><a class="navbar-brand" href="#">EventLite</a><strong>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <%if !current_user%>
                            <ul class="nav navbar-nav">
                                <li><%= link_to "Sign Up", new_user_path %><span class="sr-only">(current)</span></a></li>
                                <li><%= link_to "Log In", login_path %></li>
                            </ul>
                        <%else%>
                            <ul class="nav navbar-nav navbar-right">
                                <li><%= link_to 'Browse Events', events_path  %></li>
                                <li><%= link_to 'Create Event', new_event_path  %></li>                  
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">              
                                        <li><%= link_to 'Browse Events', events_path  %></li>
                                        <li><%= link_to 'Account Settings', user_path(current_user)%></li>
                                        <li><%= link_to 'Create Event', new_event_path  %></li>
                                        <li role="separator" class="divider"></li>
                                        <li><%= link_to 'Log Out', logout_path %></li>
                                    </ul>
                                </li>
                            </ul>
                        <%end%>
                    </div>
                </div>
            </nav>
       </div>
    </div>    
    
    <% if current_user %>
        <% link_to 'Browse Events', events_path  %></h2>  
        <% link_to 'Go To My Account', user_path(current_user) %>
    <% else %>
        <% link_to "Sign Up", new_user_path %>
        <% link_to "Log In", login_path %>
        <%= link_to('Log In via Facebook', '/auth/facebook') %> 
    <% end %>  

    <form class="navbar-form navbar-left">
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>