<% if flash[:success] %>
    <%= flash[:success] %>
<%end%>

<div class="center">
    <div class="info1">
        <h3>EventWoks</h3>
    </div>    

    <div class="info2">
        <p>
            <% if current_user %>
                <h2><%= link_to 'Browse Events', events_path  %></h2>                   
        </p>
            <%else%>
        <p>
            <%= link_to "Sign Up", new_user_path %>
            <%= link_to "Log In", login_path %>
            <%= link_to('Log In via Facebook', '/auth/facebook') %> 
        </p>
            <%end%>  
    </div>
</div>


<div class="path1">
    <%= link_to 'Go To My Account', user_path(current_user) %>
</div>