<% if @user.errors.any? %>
    <div id="error_explanation">
      <strong>
        <%= pluralize(@user.errors.count, "error") %>
        <br>
        Please try again.
      </strong>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @user, html: {class: "form-horizontal form-login-user"} do |f| %>
    <div class="form-group row">
        <%= f.label :name, class: 'col-sm-6 col-form-label' %>
        <div class="col-sm-6">
            <%= f.text_field :name, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group row">
        <%= f.label :email, class: 'col-sm-6 col-form-label' %>
        <div class="col-sm-6">
            <%= f.text_field :email, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group row">
        <%= f.label :password, class: 'col-sm-6 col-form-label' %>
        <div class="col-sm-6">
            <%= f.password_field :password, class: 'form-control' %>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <%= f.submit "SIGN UP", class: 'btn btn-primary' %>
        </div>
    </div>
<%end%>

<div class="social-row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-6">
    <%= link_to('Log In via Facebook', '/auth/facebook') %> 
  </div>
</div>