<h1><%= @user.name %></h1>
    <p><strong>Location:</strong>
    <p><strong>Member Since:</strong>  
    <p><strong>Upcoming events:</strong>
        <% @user.events.each do |event| %>
            <%= event.title %>
        <%end%>
    
    <p><%= link_to 'See Past Events' %></p>
    <%= link_to 'Manage Events' %>

    <p><%= link_to 'Browse Events', events_path  %></p>
    
    <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
    <br>
    <p><%= link_to 'Sign Out', logout_path %></p>