<% if flash[:success] %>
    <%= flash[:success] %>
<%else%>
    <%= flash[:error]%>
<%end%>

<h1><%= @user.name %></h1>
    <p><strong>Member Since:</strong> <%= @user.member_since %></p>
    
    <p><%= link_to 'View My Events', user_events_path(current_user)  %></p>
   
    <p><%= link_to 'Home', root_path %></p>
    
    <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>

    <p><%= link_to 'Sign Out', logout_path %></p>