<% if flash[:success] %>
    <%= flash[:success] %>
<%else%>
    <%= flash[:error]%>
<%end%>

<div class="user-profile">
    <div class="profile row">
        <div class="col-md-4 avatar">
             <div class="wrapper">              
             </div>
        </div>

        <div class="col-md-8 basic-info">
            <div class="user-wrapper">
                <h2 class="name"><%= @user.name %></h2>
                <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
                    <button>Edit Profile</button>
                </a>
            </div>

            <ul class="posts">
                <li><span>Member Since: <span><%= @user.member_since %></li>
                <li><span>1</span> followers</li>
                <li><span>1</span> following</li>
            </ul>   
        </div>
    </div>
<div class="cool">
    <ul class="user-tabs">
        <li>
            <i class="fa fa-th"></i>
            <a class="btn-btn-my-future-events" data-id="<%= current_user.id %>" href="<%= user_events_path(current_user) %>">
           MY EVENTS
           </a>
        </li>     
        <li>
            <i class="fa fa-tv"></i>
            PAST EVENTS
        </li>
        <li>
            <i class="fa fa-bookmark"></i>
            SAVED
        </li>
        <li>
            <i class="fa fa-tag"></i>
            TAGGED
        </li>
    </ul>
</div>

    <div>
        <div class="box">
            <div class="list">
            </div>
        </div>
    </div>
</div>