<% if flash[:success] %>
  <%= flash[:success] %>
<%end%>

<div class="body">
  <div class="info1">
   <h3>Filter Events:</h3>
    <%= form_tag({}, method: "get") do %>
    <%= select_tag "date", options_for_select(["Upcoming", "Past"]), include_blank: true %>
    <%= submit_tag "Search" %>
    <% end %>

    <ul>
      <% @events.each do |event| %>
        <li><%= link_to event.title, event_path(event) %></li>
      <% end %>
    </ul>
  </div>

  <div class="info2">
      <h3>Want to Create an Event?</h3>
      <%= link_to 'GO', @my_url %>
  </div>

  <div class="path2"%>
    <%= link_to 'Back to My Account', user_path(current_user) %>
  </div>
</div>