<% if flash[:success] %>
  <%= flash[:success] %>
<%end%>

   <h3>Filter Events:</h3>
    <%= form_tag({}, method: "get", :class => 'sort_events') do %>
    <%= select_tag "date", options_for_select(["Upcoming", "Past"]), include_blank: true %>
    <%= submit_tag "Search" %>
    <% end %>

    <button class="button">alphabetize events</button>
    
  
  <div class="event_list">
    <ul>
      <% @events.each do |event| %>
        <li><%= link_to event.title, event_path(event), :class => 'event_link', :data => { :id => event.id }%></li>
      <% end %>
    </ul>
  </div>

  <% button_to 'GO', @my_url, method: :get%>
