<h3><%= @event.title %></h3>
 <strong>LOCATION</strong>
    <p><%= @event.location %></p>
 <strong>DATE AND TIME</strong>
    <p><%= @event.starts %></p> 
    <br>
    <p><%= @event.ends %></p>
 <STRONG>DESCRIPTION</STRONG>
    <p><%= @event.description %></p>

