<% if flash[:success] %>
    <%= flash[:success] %>
  <%end%>  

<div class="header">
    <h3>
        Event Details
    </h3>
</div>
    
<div class="info1">
    <div class="body">
        <br>
        <h1><%= @event.title %></h1>
        <strong>LOCATION</strong>
        <p><%= @event.location %></p>
        <strong>DATE AND TIME</strong>
        <p><%= @event.starts.strftime("%a, %B %e, %Y") %> - <%= @event.starts.strftime("%I:%M %p") %></p>
        <p><%= @event.ends.strftime("%a, %B %e, %Y") %> - <%= @event.ends.strftime("%I:%M %p") %></p>
        <strong>DESCRIPTION</strong>
        <p><%= @event.description %></p>
        <strong>ATTENDEES</strong>
       <ol>
           <% @event.users.each do |user| %>
            <li> 
                <%= user.name %> 
                <%= user.attendances.last.comment %>
            </li>
            <%end%>
        </ol>    

        <% @event.attendances do |attendance| %>
                <%= attendance.comment %>
            <%end%>

        <%if @event.users.first == current_user %>  
            <%= link_to 'Edit Event', edit_event_path(@event) %>
            <%= link_to 'Delete Event', event_path(@event), :method=>:delete %>  
        <%else%>
            <form action="/attendances/new" method="post">
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
                <%= tag(:input, :type => "hidden", :name => :event_id, :value => @event.id) %> 
                <%= tag(:input, :type => "text", :placeholder => "add a comment", :name => :comment, :value => @attendance.comment) %>     
                <input type="submit" value="RSVP"> 
            </form> 
        <%end%> 
        
        <p>
        <% @event.attendances.each do |attendance| %>
            <%if attendance.user_id == current_user.id%>
              <strong>You are Attending!</strong>
               <%end%> 
            <%end%> 
        </p>
    </div> 
</div>  

    <%link_to 'Back to Events', events_path%>