<!DOCTYPE html>
<html>
  <head>
    <title>EventLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= %>
  </head>

  <body class="<%= controller_name%> <%= action_name %>">
    <%= render 'layouts/navigation'%>
    <div id="app-container">
      <%= yield %>
    </div>
  </body>
</html>